.square {
  width: 100px;
  height: 100px;
  background: #fff;
  color:black;
  border: 2px solid #161616;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: top;
}